{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}
{% block stylesheets %}
    <style>
        .bleu {
            background-color: blue;
        }
    </style>
{% endblock %}
{% block titre %}Listes villes{% endblock %}
{% block body %}
    {% if villes is defined %}
        <table data-toggle="table"
               data-pagination="true"
               data-search="true">
            <thead>
            <tr>
                <th data-sortable="true" >Ville</th>
                <th data-sortable="true" >Departement</th>
                <th data-sortable="true" >Longitude</th>
                <th data-sortable="true" >Latitude</th>
                <th data-sortable="true" >Population</th>
                <th data-sortable="true" >Densite</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr {{ ('PAU' == ville.ville)?'class=\"bleu\"':"" }}>
                    <td>{{ ville.ville }}</td>
                    <td>{{ ville.departement }}</td>
                    <td>{{ ville.longitude }}</td>
                    <td>{{ ville.latitude }}</td>
                    <td>{{ ville.population }}</td>
                    <td>{{ ville.densite }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucune ville détectée
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
{% endblock %}
